@import url('./bootstrap.min.css') all;
html {
    font-family: 'Open Sans', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    min-height: 100%;
}
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #212121;
    background: white;
}
h1 {
    color: white;
    font-size: 48px;
    font-weight: 300;
    line-height: 36px;
    text-align: left;
}
h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 29px;
    line-height: 1em;
    text-align: left;
    font-weight: 300;
}
h3 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    line-height: 1em;
}
h4 {
    font-size: 30px;
    line-height: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    color: black;
}
h5 {
    font-size: 21px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: left;
}
h6 {
    font-size: 18px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: left;
}
ul, ol {
    padding-left: 0;
    margin: 0;
}
.content ol {
    counter-reset: list;
}
.content ol > li:before {
    counter-increment: list;
    content: counters(list,".") ". ";
    position: absolute;
    left: 0;
}
ul li, ol li {
    list-style-type: none;
    position: relative;
}
.content ol ol, .content ol ul, .content ul ol, .content ul ul {
    margin-top: 17px;
}
.content ol ol > li {
    padding-left: 35px;
}
.content ul li, .content ol li {
    margin-top: 17px;
    padding-left: 22px;
    line-height: 26px;
}
.content ul li:first-child, .content ol li:first-child {
    margin-top: 0;
}
.content ul li span, .content ol li span, .content p span {
    font-weight: 600;
}
.content ul li:before {
    content: '';
    position: absolute;
    display: block;
    height: 5px;
    width: 5px;
    top: 9px;
    left: 0;
    border-radius: 9px;
}
p {
    margin-bottom: 0;
    margin-top: 10px;
    line-height: 1em;
}
p:first-child {
    margin-top: 0;
}
a {
    color: #f3740b;
    text-decoration: none;
}
a:active,
a:hover {
    outline: 0;
    text-decoration: none;
    color: #f3740b;
}
.content a {
    text-decoration: underline;
}
button:focus, input:focus, button:focus {
    outline: 0;
}
* {
    box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}
figure {
    margin: 0;
}
b, strong {
    font-weight: 600;
}
mark {
    background: inherit;
    color: inherit;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
    display: block;
}
hr {
    box-sizing: content-box;
    height: 0;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
    outline: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    box-sizing: border-box;
    /* 2 */
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 25px 0;
}
td,
th {
    padding: 10px;
    border: 1px solid #333;
}
td span, th span {
    font-size: 14px;
}
.group {
    margin: 0 -15px;
    display: block;
}
.group:before,
.group:after,
.container:before,
.container:after {
    content: "";
    display: table;
}
.group:after,
.container:after {
    clear: both;
}
.group,
.container {
    zoom: 1;
}

/* Content style */
.container{
    padding: 0 15px;
}
.content{
    padding-bottom: 50px;
}
.header{
    height: 100%;
    background: black url('../img/fon.jpg') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.header .container{
    position: relative;
    height: 100%;
}
.logotype{
    margin-top: 30px;
    overflow: hidden;
}
.logotype img{
    float: left;
    position: relative;
    z-index: 1;
    width: 80px;
}
.logotype img:first-child{
    margin-right: -25px;
}
.logotype .logoText{
    float: left;
    position: relative;
    top: 40px;
    z-index: 2;
    color: white;
    display: table;
    text-align: center;
    margin-right: -25px;
}
.logotype .logoText .top{
    display: inline-block;
    border-bottom: 2px solid yellow;
    padding-bottom: 10px;
}
.logotype .logoText .bottom {
    padding-top: 10px;
    text-align: center;
}
.logotype .logoText .bottom span {
    display: block;
    margin-top: 5px;
    font-size: 20px;
}
.headerText{
    clear: both;
    position: absolute;
    top: 250px;
    right: 15px;
    width: 430px;
}
.headerText p{
    font-style: italic;
    font-size: 18px;
    color: white;
    font-weight: 300;
    margin-bottom: 0;
    line-height: 24px;
}
.header h1{
    line-height: 55px;
}
.article{
    /*display: table;*/
    margin-top: 50px;
}
.logoCRM{
    display: table-cell;
    vertical-align: top;
    width: 250px;
}
.logoCRM img{
    width: 100%;
}
.logoCRM a{
    display: table;
    background: red;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
.infoCRM{
    display: table-cell;
    vertical-align: top;
    padding-left: 30px;
}
.infoCRM p{
    line-height: 24px;
}
.article > p{
    line-height: 24px;
}
.footer{
    background: black;
    padding: 15px 0;
    color: white;
}
.article thead{
    background: #2683c6;
}
.article td, th{
    border: 2px solid white;
}
.article th{
    color: white;
    text-align: center;
}
.article tbody tr:nth-child(odd){
    background: #cdd9ea;
}
.article tbody tr:nth-child(even) {
    background: #e8edf5;
}
.wrapTable{
    max-width: 100%;
    overflow-x: auto;
}
.wrapTable table{
    width:100%;
}
@media screen and (max-width: 1200px) {
    .header h1{
        font-size: 44px;
        line-height: 50px;
    }
}
@media screen and (max-width: 992px) {
    .header h1{
        font-size: 36px;
        line-height: 42px;
    }
}
@media screen and (max-width: 768px) {
    .logoCRM{
        display: block;
    }
    .infoCRM{
        display: block;
        padding-left: 0;
        margin-top: 30px;
    }
}
@media screen and (max-width: 640px) {
    .logotype{
        display: table;
        margin: 30px auto 0 auto;
    }
    .headerText{
        position: static;
        width: 100%;
        display: table;
        margin: 50px auto 0 auto;
    }
    .header h1{
        display: table;
    }
    .content p{
        font-size: 14px;
    }
    th, td{
        font-size: 14px;
    }
    html, body{
        height: auto;
        min-height: 0;
    }
    .header{
        background: black;
        height: auto;
        padding-bottom: 50px;
    }
}